@using BusinessLayer;
 
@model IEnumerable<BusinessLayer.Employee>


<h2>Employees</h2>

<p>
    @Html.ActionLink("Add New Employee", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentID)
        </th>
        <th></th>
    </tr>

    @foreach (Employee employee in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employee.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employee.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employee.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employee.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employee.DepartmentID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = employee.EmployeeID }) |

                @Html.ActionLink("Delete", "Delete", new { id = employee.EmployeeID })
            </td>
        </tr>
    }

</table>
