@using PagedList;
@using PagedList.Mvc;

@model IPagedList<BusinessLayer.Employee>


<h2>Employees</h2>

<p>
    @Html.ActionLink("Add New Employee", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DepartmentID)
        </th>
        <th></th>
    </tr>


    @foreach (var employee in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employee.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employee.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employee.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employee.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employee.DepartmentID)
            </td>
            <td>


                @Html.ActionLink("Edit", "Edit", new { id = employee.EmployeeID }) |

                @Html.ActionLink("Delete", "Delete", new { id = employee.EmployeeID })
            </td>
        </tr>
    }

</table>

<tr>
    Number of Employees :  @ViewBag.countEmployees
</tr>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))